keras==2.4.3
keras-preprocessing==1.1.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-tensorboard==0.1.5
termcolor==1.1.0
torchvision==0.1.8